<html>
    <head>
        <meta charset="utf-8">
        <title>D-Dagen - Clicker</title>
        <link rel="stylesheet" href="app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="main">
            <h2 class="center" id="counter"></h2>

            <div class="center">
                <button id="increase">+</button>
                <button id="decrease">-</button>
            </div>

            <br>
            <p class="center"><a href="/logout">Logga ut</a></p>

            <script src="admin.js"></script>
        </div>
    </body>
</html> 