<html>
    <head>
        <meta charset="utf-8">
        <title>D-Dagen - Clicker</title>
        <link rel="stylesheet" href="/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="main">
            <h2 class="center">Ej behörig</h2>
            <p class="center"><a href="/">Gå tillbaka</a></p>

            <br>
            <p>
                Du saknar rättigheten "admin" på gruppen "ddagen-clicker" i <a href="https://pls.datasektionen.se/">pls</a>.
            </p>
        </div>        
    </body>
</html>
